window#waybar { background: #282828; color: #EBDBB2; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#workspaces button { color: #EBDBB2; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#workspaces button.active { color: #83A598; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#workspaces button.urgent { color: #CC241D; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#window { color: #928374; }
#clock { color: #EBDBB2; }
#cpu { color: #83A598; }
#memory { color: #689D6A; }
#temperature { color: #98971A; }
#temperature.critical { color: #CC241D; }
#bluetooth { color: #458588; }
#wireplumber { color: #B16286; }
#network { color: #458588; }
#network.disconnected { color: #CC241D; }
#wireplumber.muted { color: #928374; }
#custom-brightness { color: #D79921; }
#custom-music { color: #B16286; }
#custom-caffeine.caffeine-on { color: #D79921; }
#custom-caffeine.caffeine-off { color: #928374; }
#custom-expand-icon { color: #928374; }
.tray-item { background: #282828; }
tooltip { background: #282828; border: none; box-shadow: 0 2px 8px rgba(0,0,0,0.25); color: #EBDBB2; }
tooltip label { color: #EBDBB2; }
