window#waybar { background: #0A0A0A; color: #D4D4D4; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#workspaces button { color: #D4D4D4; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#workspaces button.active { color: #8BE9FD; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#workspaces button.urgent { color: #FF5555; box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
#window { color: #3A3A3A; }
#clock { color: #D4D4D4; }
#cpu { color: #8BE9FD; }
#memory { color: #8BE9FD; }
#temperature { color: #50FA7B; }
#temperature.critical { color: #FF5555; }
#bluetooth { color: #FFFFFF; }
#wireplumber { color: #FF79C6; }
#network { color: #FFFFFF; }
#network.disconnected { color: #FF5555; }
#wireplumber.muted { color: #3A3A3A; }
#custom-brightness { color: #F1FA8C; }
#custom-music { color: #FF79C6; }
#custom-caffeine.caffeine-on { color: #F1FA8C; }
#custom-caffeine.caffeine-off { color: #3A3A3A; }
#custom-expand-icon { color: #3A3A3A; }
.tray-item { background: #171717; }
tooltip { background: #171717; border: none; box-shadow: 0 2px 8px rgba(0,0,0,0.25); color: #D4D4D4; }
tooltip label { color: #D4D4D4; }
